.container {
  height: 85%;
  background-color: brown;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 2rem;
}

.graph {
  width: 200px;
  height: 200px;
}
