@value makerWhite,makerBlue, makerLightGrey from '../../common/color.css';

.container {
  height: 84%;
  background-color: makerWhite;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: 1px solid makerLightGrey;
  border-radius: 4px;
  margin-right: 0.5rem;
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem;
}

.button__container {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid makerLightGrey;
}

.button.activicty {
  background-color: makerBlue;
  color: makerWhite;
}

.button:hover {
  background-color: makerBlue;
  color: makerWhite;
}

.title {
  margin-bottom: 2rem;
}

.graph {
  width: 200px;
  height: 200px;
}
