@value makerBlue, makerLightGrey from '../../common/color.css';

.container {
  height: 14%;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: makerLightGrey;
}

input {
  border: none;
  outline: none;
}

.input {
  height: 2.5rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  width: 100%;
  border-radius: 6px;
}

.button {
  font-size: 2rem;
  margin-left: 0.5rem;
  color: makerBlue;
}
