.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.button {
  position: absolute;
  color: white;
  right: 1rem;
  background-color: brown;
  padding: 0.4rem;
  font-weight: bold;
  border-radius: 4px;
}
