.container {
  background-color: aqua;
  width: 800px;
  height: 500px;
  margin: auto;
  padding: 1rem;
}

.button {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 12px;
}
